<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-media-essrrtpw" >
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_author.name" />
		</td>
		<td>
			<f:format.html>
				{author.name}
			</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_author.bio" />
		</td>
		<td>
			<f:format.html>
				{author.bio}
			</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_author.pictures" />
		</td>
		<td>
			<f:for each="{author.pictures}" as="picture">
				<f:image maxHeight="250" treatIdAsReference="1" image="{picture}"/>
			</f:for>
		</td>
	</tr>
</table>
</html>