<style>
img {
	width: 300px;
	height: 100%;
	animation-name: example;
    	animation-duration: 90s;
}

img {
  cursor: url("http://www.reusta.com/media/W1siZiIsIjIwMTYvMDUvMTIvMDYvMjQvMzkvOGNhNjY1ZDMtZDA2Ny00Y2MyLThmMTAtNGFjZTg2YTkyYzY2LzA0X0F2YXRhcl83NS03NS5qcGciXSxbInAiLCJ0aHVtYiIsIjMyeDMyIyJdXQ/Jean-Claude_Van%20damme_08?sha=aa1453180920e95a"), auto;
}

.card-body {
	padding: 15px;
}

.mediaList {
	margin-top: 40px;
}

@keyframes example {
    from {opacity:1;}
    to {opacity:0;}
}
</style>

<div class="tx-media-essrrtpw">
	<f:render section="main" />
</div>
