<style>
table {
	width: 100%;
}

table tr td {
	padding: 10px;
	padding-right: 8px;
	padding-left: 8px;
}
table tr:first-child {
	background-color: #333;
	color: white;
}

table tr:first-child th {
	padding: 10px;
}

table.list tr th {
	width: 20%;
}

table.list tr th:nth-child(5), table tr th:nth-child(6), table tr td:nth-child(5), table tr td:nth-child(6) {
	width: 10%;
}

table tr td img {
	width: 200px;
	height: 100%;
	border-radius: 3px;
}

a.btn {
	background-color: #333;
	padding: 5px;
	padding-right: 8px;
	padding-left: 8px;
	color: white;
	border-radius: 3px;
}
</style>

<div class="tx-media-essrrtpw">
	<f:render section="main" />
</div>
