<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Media</h1>

<f:flashMessages />	
	<f:form class="form-inline" action="search"  enctype="multipart/form-data"  name="search" object="{search}">
		<div class="form-group">
			<label for="value">Search</label>
			<f:form.textfield class="form-control" property="string" /><br />
		</div>
		<div class="form-group">
			<label for="category">Category</label>
			<f:form.textfield class="form-control" property="category"/><br />
		</div>
		<div class="form-group">
			<f:form.submit value="Search" class="btn btn-primary" />
		</div>
	</f:form>

<div class="row mediaList">
<f:for each="{medias}" as="media">
	<f:render partial="Media/ListProperties" arguments="{media:media}" />
</f:for>
</div>
</f:section>
</html>
