<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Media</h1>

<f:flashMessages />
	
	<f:form class="form-inline" action="search"  enctype="multipart/form-data"  name="search" object="{search}">
		<div class="form-group">
				<label for="value">
					value
				</label>
			<f:form.textfield property="string" /><br />
		</div>
		<div class="form-group">
			<label for="category">
				category
			</label>
			<f:form.textfield property="category"  /><br />
		</div>
		<div class="form-group">
			<f:form.submit value="Search" />
		</div>

	</f:form>

<div class="row">
<f:for each="{medias}" as="media">
	<div class="col-4">
	<div class="col-12">
	<f:link.action action="show" arguments="{media: media}"> {media.name}</f:link.action>
	</div>
	<div class="col-12">
	<f:link.action action="show" arguments="{media : media}"> {media.description -> f:format.html()}</f:link.action>
	</div>
	<div class="col-12">
	<f:image maxHeight="250" treatIdAsReference="1" image="{media.image}"/>
	</div>
	<div class="col-12">
	<f:link.action action="show" arguments="{media : media}"> {media.datePublication -> f:format.date()}</f:link.action>
	</div>
	<div class="col-12">
	<f:link.action action="show" arguments="{media : media}"> {media.name}</f:link.action>
	</div>
	</div>
</f:for>
</div>
</f:section>
</html>
