<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-media-essrrtpw" >
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.description" />
		</td>
		<td>
		<f:format.html>
		{media.description}
		</f:format.html>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.image" />
		</td>
		<td>
				<f:image src="{media.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.files" />
		</td>
		<td>
				<f:for each="{media.files}" as="file" >
					<a href="{file.originalResource.publicUrl}">
						{file.originalResource.name}
					</a>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.date_publication" />
		</td>
		<td>
		{media.datePublication -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.name" />
		</td>
		<td>
		{media.name}
		</td>
	</tr>
</table>
</html>
