<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-media-essrrtpw" >
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.image" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.files" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.date_publication" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mediaessrrtpw_domain_model_media.name" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>